<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    <h1>Recipes</h1>

    <% recipes.forEach(recipe => {%>
        <p>Recipe Name: <%= recipe.recipeName %></p>
        <p>Ingredients: <%= recipe.ingredients.map(item => item.item).join(", ") %></p>
        <p>Price: <%= recipe.price %> BD</p>
        <p>Instructions: <%= recipe.instructions %></p>

        <a href="/recipe/<%=recipe._id%>/edit">Edit</a>
        <a href="/recipe/<%=recipe._id%>">View</a>
        <form action="/recipe/<%= recipe._id %>/delete" method="post">
            <button type="submit">Delete Recipe</button>
        </form>
        <% }); %>
</body>
</html>