<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
</head>
<body>
    <h1>Inventory</h1>

    <p>Item: <%= item.item %></p>
    <p>Category: <%= item.category %></p>
    <p>Quantity: <%= item.quantity %></p>
    <p>Unit: <%= item.unit %></p>
    <p>Is in in the menu: <%= item.menuYN %></p>
    
</body>
</html>