<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= recipe.recipeName %></title>
</head>
<body>
    <%- include('../navbar') %>
    
    <h1>Edit <%= recipe.recipeName %></h1>

    <form action="/recipe/<%=recipe._id%>/edit" method="post">
        <label for="recipeName">Recipe Name: </label>
        <input type="text" name="recipeName" id="recipeName" value="<%= recipe.recipeName %>">
        <br>
        <br>
        <label for="ingredients">Ingredients</label>
            <select name="ingredients" id="ingredients" multiple>
                <% inventory.forEach(item => { %>
                    <option value="<%= item._id %>" <%= recipe.ingredients.some(ing => ing._id.toString() === item._id.toString()) ? "selected" : "" %>>
                    <%= item.item %></option>
                <% }); %>
            </select>
        <br>
        <br>
        <label for="price">Price: </label>
        <input type="text" name="price" id="price" value="<%= recipe.price %>">
        <br>
        <br>
        <label for="instructions">Instructions: (one line per step):</label>
        <textarea id="instructions" name="instructions" rows="15" cols="40"><%= recipe.instructions.map(item => item).join("\n") %></textarea>
        <br>
        <br>
        <button type="submit">Edit Recipe</button>
    </form>
    
</body>
</html>